# GitHub Packages Authentication
# This file configures npm to authenticate with GitHub Packages for @jaedag scope

@jaedag:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${{ GTIHUB_TOKEN }}


